/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */



.carousel-inner img{
    filter: brightness(60%);
}

.working img{
    width: 400px;
    height: 550px;
}

.feedbackbg{
    background-image: url("images/comma.png");
    background-repeat: no-repeat;
    
}

.fa-star, .fa-star-half-stroke{
    color: gold;
}

footer ul{
    list-style: none;
}

.fa-brands{
    margin: 10px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.343);
    padding: 10px;
    border-radius: 50%;
}