/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

/* .container h2{
    font-size: 50px;
} */

/* .cource-img{
    width: 200px;
    height: 200px;
} */


.working img{
    width: 400px;
    height: 550px;
}