/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Montserrat', sans-serif;  
}
.navbar-brand span, span{
    color: orangered;
}
.carousel-inner .carousel-item img{
    filter: brightness(60%);
}

.working{
    background-color: #eaf6fb;
}

.fa-star, .fa-star-half-stroke{
    color: gold;
}

footer ul{
    list-style: none;
}

.fa-brands{
    margin: 10px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.343);
    padding: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 576px){
    .trusted{
        display: none;
    }
    #need-hide{
        display: none;
    }

}

@media only screen and (min-width: 576px) and (max-width: 992px) {

    .trusted{
        display: none;
    }

    #need-hide{
        display: none;
    }

    
}
